@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* RESET */

*, ::after, ::before{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #f9f9f9;
}

h1 {
  font-size: 48px;
  color: #fff;
}

h2 {
  font-weight: 300;
  font-size: 32px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 18px;
}

a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* GLOBAL */

/* MAIN */

header {
    position: fixed;
    height: 70px;
    width: 100vw;
    overflow: hidden;
    z-index: 3;
}

header .sticky {
    position: fixed;
    height: 80px;
    width: 100vw;
    background: #fff;
    overflow: hidden;
    z-index: 3;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90vw;
    margin: auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.menu > li {
    padding: 5px 20px;
}

.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-weight: 500;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    background-color: #63A1FF;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

main {
    height: 95vh;
    width: 100vw;
    background: url(../img/catedral.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -50;
}

.opacity {
    position: absolute;
    top: 0;
    height: 95vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-size: cover;
}

#pesquisa {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    width: 90vw;
    margin: 0 auto;
}

.conteudo > h1 {
    margin-top: 50px;
    margin-bottom: 15px;
}

.btn-pesquisa {
    height: 50px;
    width: 90%;
    border: none;
    border-radius: 5px;
    outline: none;
    overflow: hidden;
}

input{
    color: #3a3a3a;
    font-size: 16px;
    padding-left: 20px;
}

input::placeholder {
    color: #3a3a3a;
    font-size: 16px;
}

#anuncio {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 90vw;
    margin: 0 auto;
}

.box {
    height: 70%;
    width: 32%;
    border: none;
    border-radius: 5px;
    outline: none;
    overflow: hidden;
}

.box:nth-child(1) {
    background-image: url(../img/pandemia.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
  
.box:nth-child(2) {
    background-image: url(../img/hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
  
.box:nth-child(3) {
    background-image: url(../img/intercambio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 45px 20px;
    border: none;
    border-radius: 5px;
    background: rgba(99, 161, 255,0.9);
    outline: none;
    overflow: hidden;
}

.btn-white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 40px;
    font-weight: 500;
    color: #63A1FF;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.btn-white:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 40px;
    font-weight: 600;
    color: #63A1FF;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #fff;
    transition: 0.2s ease-in-out;
}

#populares {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 90vw;
    margin: 0 auto;
    background: red;
}

/* FOOTER */