@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* RESET */

*, ::after, ::before{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

h1 {
  font-size: 40px;
}

h2 {
  font-weight: 300;
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

p {
    font-size: 18px;
}

a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  transition: 0.5 ease;
}

ul {
  list-style: none;
}

/* HEADER */

header {
  width: 100vw;
  height: 10vh;
  background: #3A5E14;
}

#header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu > li {
  padding: 5px 20px;
}

/* MAIN */

main {
    width: 100vw;
    background-color: #FCE8DD;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.banner-compras {
    background-image: url(./images/comprasBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-entretenimento {
    background-image: url(./images/entretenimentoBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-gastronomia {
    background-image: url(./images/gastronomiaBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-transportes {
    background-image: url(./images/transportesBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
  
.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40)
}
  
.banner-content > h1 {
    font-family: 'Dancing Script', 'Lato', sans-serif;
    font-size: 65px;
}

#resumo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    margin: auto;
    background-color: #FCE8DD;
}

.resumo-imagem > img {
    width: 600px;
    height: 50%;
    margin-right: 50px;
    border: none;
    border-radius: 5px;
    object-fit: cover;
}

.resumo-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 70%;
    text-align: justify;
    color: #3a3a3a;
}

.resumo-content > p {
    margin-top: 18px;
}

#background {
    width: 100vw;
    height: 80vh;
    background-color: #fff;
}

#dados {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 100%;
    margin: auto;
    background-color: #fff;
}

.dados-content {
    width: 300px;
    height: 50%;
    margin-right: 50px;
}

.dados-content > p {
    margin-top: 15px;
}

.dados-content > a {
    margin-top: 15px;
}

.googlemaps {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 70%;
    border-radius: 5px;
    text-align: justify;
    color: #3a3a3a;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    font-weight: 500;
    color: #9A453D;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #9A453D;
    border-radius: 5px;
    transition: 0.5s;
}

.call-to-action:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    border: none;
    background-color: #9A453D;
    border-radius: 5px;
    transition: 0.5s;
}

#quote{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}

.quote-opacity {
    display: flex;
    align-items: center;
    padding: 100px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.70);
}

.quote-content {
    max-width: 500px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    background: #fff;
}

/* QUOTE IMAGENS */

.transporteUm {
    background-image: url(./images/transportesAbbesses.jpeg);
}

.transporteDois {
    background-image: url(./images/transportesGareNort.jpeg);
}

.gastronomiaUm {
    background-image: url(./images/gastronomiaAmelieDoisMoulins.png);
}

.gastronomiaDois {
    background-image: url(./images/gastronomiaCremeBrule.png);
}

.gastronomiaTres {
    background-image: url(./images/gastronomiaAmelieLaVede.png);
}

.comprasUm {
    background-image: url(./images/comprasAmelieMaisonCollignon.jpeg);
}

.comprasDois {
    background-image: url(./images/comprasAmeliePalaceVideo.jpeg);
}

.comprasTres {
    background-image: url(./images/comprasAmelieAuclown.jpeg);
}

.entretenimentoUm {
    background-image: url(./images/entretenimentoAmelieCarrossel.jpg);
}

.entretenimentoDois {
    background-image: url(./images/entretenimentoAmelieCanal.jpeg);
}

.entretenimentoTres {
    background-image: url(./images/entretenimentoAmelieBasilica.jpg);
}

.entretenimentoQuatro {
    background-image: url(./images/entretenimentoAmelieNotreDame.jpg);
}

.entretenimentoCinco {
    background-image: url(./images/entretenimentoAmelieStudio28.jpg);
}



/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 40vh;
  color: #fff;
  background: #3A5E14;
}

#footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 50%;
  margin: auto;
}

.creditos {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 35%;
  height: 80%;
}

.menu-footer ul, li {
  display: block;

}

/* Media */

@media screen and (min-width: 400px) and (max-width: 1100px) {
    #resumo {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90vw;
        height: 100vh;
        margin: auto;
        background-color: #FCE8DD;
    }
    
    .resumo-imagem > img {
        width: 90vw;
        height: 200px;
        margin: 20px 0;
        border: none;
        border-radius: 5px;
        object-fit: cover;
    }
    
    .resumo-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        height: 50%;
        text-align: justify;
        color: #3a3a3a;
    }
    
    .resumo-content > p {
        margin-top: 18px;
    }

    #background {
        width: 100vw;
        height: 100vh;
        background-color: #fff;
    }

    #dados {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 90vw;
        height: 90%;
        background-color: #fff;
    }
    
    .dados-content {
        margin: 20px auto 0px;
        width: 300px;
        height: 80%;
    }
    
    .dados-content > p {
        margin-top: 15px;
    }
    
    .dados-content > a {
        margin-top: 15px;
    }
    
    .mapa {
        box-sizing: border-box;
        margin-top: 0;
        width: 90vw;
        height: 200px;
    }

    .quote-content {
        max-width: 50%;
        border: none;
        border-radius: 5px;
        padding: 20px;
        background: #fff;
    }
}